.deps
/INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.cache
config.log
config.guess
config.status
config.sub
configure
depcomp
distreboot
distreboot_config.h
distreboot_config.h.in
distreboot.msgs.H
distreboot.opts.H
/html
install-sh
libtool
ltmain.sh
missing
rpm
stamp-h1
tst.opts.H
*~
*.a
*.o
*.tst
*.gz
*.bz2
*.sig
*.8
