.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
distreboot
distreboot_config.h
distreboot_config.h.in
distreboot.msgs.all.H
distreboot.opts.H
install-sh
missing
stamp-h1
tst.opts.H
*~
*.a
*.o
*.tst
